@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

body{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;    
    background-color:#ef233c;
    color: white;
    font-family: 'Montserrat', sans-serif;
}
/* #message{
    width: 70%;
    max-width: 900px;
    background-color: white;
} */
#message div{
    background-color: #ED4C67;
    padding: 0.2em;
}
#message div:nth-child(2n) {
    background-color: #B53471;
  }
#send-field{
    display: flex;
    position: fixed;
    padding-bottom: 1em;
    bottom: 0;
    max-width: 900px;
    width: 70%;
}
#write-msg{
    flex-grow: 1;
}
